<div class="container">
  <div class="offer-container">
    <div class="offer">
      <div class="offer__text">
        <h1 class="offer__title">Попробуй премиум подписку на LogTime <span>бесплатно!</span></h1>
        <p class="offer__desc text">Достигай желаемые цели эффективнее и быстрее, используя все возможности без ограничений</p>
      </div>
      <img src="assets/img/image.svg" alt="cool-gay-with-premium-box" class="offer__img">
      <div class="offer__advantages">
        <ul class="offer__advantages-list">
          <li class="offer__advantages-item">
            <img src="assets/icons/task.svg" alt="true-icon" class="offer__advantages-icon">
            <p class="offer__advantages-text text">Сейчас ничего не спишется</p>
          </li>
          <li class="offer__advantages-item">
            <img src="assets/icons/task.svg" alt="true-icon" class="offer__advantages-icon">
            <p class="offer__advantages-text text">Напомним перед списанием</p>
          </li>
          <li class="offer__advantages-item">
            <img src="assets/icons/task.svg" alt="true-icon" class="offer__advantages-icon">
            <p class="offer__advantages-text text">Можно отменить в любой момент</p>
          </li>
        </ul>
      </div>
    </div>
  <app-tariff-buttons></app-tariff-buttons>
  </div>
<app-offer-tariff-card></app-offer-tariff-card>
</div>