.container {
  display: flex;
  width: 840px;
  gap: 48px;
  margin: 140px auto;
}
.offer-container {
  width: 436px;
}
.offer {
  display: flex;
  flex-direction: column;
  &__title {
    color: var(--title-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
    span {
      color: var(--accent-color);
    }
  }
  &__img {
    align-self: center;
  width: 361px;
  height: 174px;
  margin: 32px 0;
  }
  &__advantages {
    margin-bottom: 32px;
  }
  &__advantages-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
    align-items: start;
  }
  &__advantages-icon {
    max-width: 24px;
    max-height: 24px;
  }
}