.offer-tariff-card {
  display: flex;
  flex-direction: column;
  width: 356px;
  border: solid 1px #e2e2ea;
  border-radius: 12px;
  padding: 27px 32px 40px;
}
.tariff-toggle {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.tariff-toggle-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 37px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  &__month {
    padding-left: 35px;
    color: #696974;
  }
  &__year {
    padding-left: 45px;
    color: #0062ff;
  }
}

.tariff-toggle-btn__input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.tariff-toggle-btn:after {
  content: "";
  position: absolute;
  height: 29px;
  width: 50%;
  right: 4px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.tariff-toggle-btn__input:checked
  + .tariff-toggle-btn
  .tariff-toggle-btn__month {
  color: #0062ff;
}

.tariff-toggle-btn__input:checked
  + .tariff-toggle-btn
  .tariff-toggle-btn__year {
  color: #696974;
}

.tariff-toggle-btn__input:checked + .tariff-toggle-btn:after {
  right: 286px;
  transform: translateX(100%);
}

.hidden {
  display: none;
}

.sale {
  z-index: 1;
  position: absolute;
  top: -10px;
  right: -10px;
}

.tariff {
  margin-bottom: 32px;
  &__sale {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
  }
  &__prices {
    color: var(--dark-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
  &__old {
    color: #ff974a;
    text-decoration: line-through;
  }
}
.tariff-cells {
  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
  }
  &__desc {
    color: #696974;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
