<div class="offer-tariff-card">
  <div class="tariff">
    <div class="tariff__toggle">
      <input type="checkbox" class="tariff__toggle-input" id="chek">
      <label class="tariff__toggle-btn" for="chek"> 
        <img src="assets/icons/label.svg" alt="минус 37 процентов" class="tariff__sale-img">
        <span (click)="toggleMonth()" class="tariff__toggle-month toggle">На месяц</span>
        <span (click)="toggleYear()" class="tariff__toggle-year toggle">На год</span>
      </label>
    </div>
    <div class="tariff__sale">
      <p class="tariff__prices">430 ₽/мес</p>
      <span class="tariff__year-sale" [ngClass]="{'hidden': isMonth}">
        <p class="tariff__old text">8280 ₽/год</p>
        <p class="tariff__new text"> 5160 ₽/год</p>
      </span>
    </div>
  </div>
  <div class="tariff-cells">
    <ul class="tariff-cells__list">
      <li class="tariff-cells__item">
        <img src="assets/icons/cells/Icon.svg" alt="" class="tariff-cells__icon">
        <div class="tariff-cells__content">
          <p class="tariff-cells__title text">Цели без ограничений</p>
          <span class="tariff-cells__desc">Вместо одной</span>
        </div>
      </li>
      <li class="tariff-cells__item">
        <img src="assets/icons/cells/Icon-1.svg" alt="" class="tariff-cells__icon">
        <div class="tariff-cells__content">
          <p class="tariff-cells__title text">Более 100 иконок</p>
          <span class="tariff-cells__desc">Вместо 20</span>
        </div>
      </li>
      <li class="tariff-cells__item">
        <img src="assets/icons/cells/Icon-2.svg" alt="" class="tariff-cells__icon">
        <div class="tariff-cells__content">
          <p class="tariff-cells__title text">300 категорий</p>
          <span class="tariff-cells__desc">Вместо 15</span>
        </div> 
      </li>
      <li class="tariff-cells__item">
        <img src="assets/icons/cells/Icon-3.svg" alt="" class="tariff-cells__icon">
        <div class="tariff-cells__content">
          <p class="tariff-cells__title text">Более 300 вопросов</p>
          <span class="tariff-cells__desc">Вместо 7</span>
        </div>
      </li>
      <li class="tariff-cells__item">
        <img src="assets/icons/cells/Icon-4.svg" alt="" class="tariff-cells__icon">
        <div class="tariff-cells__content">
          <p class="tariff-cells__title text">Нет рекламы</p>
          <span class="tariff-cells__desc">Чистый интерфейс</span>
        </div>
      </li>
      <li class="tariff-cells__item">
        <img src="assets/icons/cells/Icon-5.svg" alt="" class="tariff-cells__icon">
        <div class="tariff-cells__content">
          <p class="tariff-cells__title text">Мотивация</p>
          <span class="tariff-cells__desc">Оплата стимулирует продолжать</span>
        </div>
      </li>
    </ul>
  </div>
</div>