@import '../../styles/mixins';

.tariff-buttons {
  display: grid;
  grid-template-columns: 288px 132px;
  gap: 16px;
  &__try {
    @include style-btn(true)
  }
  &__skip {
    @include style-btn (false)
  }
}