@font-face {
  font-family: 'Proxima Nova';
  font-style: bold;
  font-weight: 700;
  src: url('/assets/fonts/ProximaNova-Bold.ttf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: regular;
  font-weight: 600;
  src: url('/assets/fonts/ProximaNova-Regular.ttf');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: light;
  font-weight: 400;
  src: url('/assets/fonts/ProximaNova-Light.ttf');
}